* {
    padding: 0;
    margin: 0;
    color: black;
    border-radius: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: white;
}

.navbar {
    background-color: #2B2F33;
    height: 60px;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: grey;
}

a:hover {
    color: white;
}

.Logo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: white;
}

.Logo a img {
    width: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 255px;
}

.container {
    padding-left: 265px;
}

.container h1 {
    padding: 40px 0px 10px 0px;
}

.kelamin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0 10px 0px;
}

.kelamin input {
    margin: 5px 10px 0px 0px;
}

button {
    margin-top: 10px;
    padding: 2px 6px;
    border: 1.2px solid rgb(38, 89, 255);
    border-radius: 4px;
    font-size: 14px;
    color: white;
    background-color: rgb(38, 89, 255);
}

.masuk input {
    width: 960px;
    padding: 5px 10px;
    border: 1.2px solid grey;
    border-radius: 4px;
    margin: 10px 0 10px 0;
}